$breakTablet: 768px;
$bleuFonce: #289995;
$bleuClair: #81E6E2;
$orangeFonce: #994517;
$orange: #FF8E52;
$orangeClair: #E6A481;
$noir: #000;
$blanc: #fff;
$grisClair: #ccc;
$jaune: #FCD568;

//https://colordesigner.io/gradient-generator
$scale: (
    #ff8e52 #fb934f #f6984c #f19d4a #eba249 #e6a749 #e1ab4a #dbaf4c #d5b34e #cfb752 #c9bb56 #c4be5a #bec260 #b8c565 #b2c86b #adcb72 #a7cd79 #a2d080 #9cd287 #97d48e #93d796 #8ed99e #8adaa5 #86dcad #83deb4 #81dfbb #7fe1c2 #7de2c9 #7de3d0 #7de4d6 #7fe5dc #81e6e2
);

$primaryColor: $bleuClair;
$secondaryColor: $orange;

:root {
    --background-color: #{$blanc};
    --text-color: #{$noir};
}

:export {
    bleuFonce: $bleuFonce;
    bleuClair: $bleuClair;
    orangeFonce: $orangeFonce;
    orange: $orange;
    orangeClair: $orangeClair;
    noir: $noir;
    blanc: $blanc;
    grisClair: $grisClair;

    primaryColor: $primaryColor;
    secondaryColor: $secondaryColor;
}