@import "./_vars";


body {
  font-family: sans-serif;
}

input {
  border: 1px solid $grisClair;
  padding: 0.5rem;
  width: 300px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid $grisClair;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 15rem;
  overflow-y: auto;
  padding-left: 0;
  width: 100%
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: $bleuFonce;
  color: $jaune;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid $grisClair;
}

.search-bar-container {
  position: relative;
  margin-top: 5rem;
  width: 100%;
}

.search-bar {
  width: 100%;
  height: 100%;
}

#ModeCarte {
  .search-bar-container {
    margin-top: 1rem;
  }
}