@import "./_vars";

#CarteFrance {
    [id^="dep_"] {
        transform-box: fill-box;
        transform-origin: center;
        transition: all 0.1s ease-in-out;
        fill: $grisClair;

        &:hover {
            cursor: pointer;
            fill: $secondaryColor;
        }
    }
}