.guess {
    $valColor: false;

    [id="✓"] {
        color: green;
        border-color: green;
        background-color: aquamarine;
    }

    [value="✗"] {
        color: red;
        border-color: red;
    }

    [id="✗"] {
        background-color: snow;
    }

}