.guess {
    $valColor: false;

    [id="✓"] {
        color: $bleuFonce;
        border-color: $bleuFonce;
        background-color: rgba($color: $bleuClair, $alpha: 0.1);
    }

    [value="✗"] {
        color: $orangeFonce;
        border-color: $orangeFonce;
    }

    [id="✗"] {
        color: $orangeFonce;
        background-color: rgba($color: $orangeClair, $alpha: 0.1);
    }

}