@import "./index.css";

@import "./carte-france";

@import "./autocomplete";

html,
body,
#root {
    min-height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@import "./_global";
@import "./_vars";
@import "./home";
@import "./carte-france";
@import "./toggle-dark-mode";
@import "./forme-departement";
@import "./guesses";